@model IEnumerable<Ebook_Store.Models.Database.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @{
        Ebook_Store.Models.Database.EbookEntities2 db = new Ebook_Store.Models.Database.EbookEntities2();
        var count = db.Abouts.Count();
        if (@count < 1)
        {
            @Html.ActionLink("Create New", "Create")
        }

    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
