@model Ebook_Store.Models.Database.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Customer</h2>
<div class="col-md-10">
    <form action="/Customer/Edit" method="post">
        <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Username" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="text" name="Password" value="@Model.Password" class="form-control" placeholder="Password" />
        <input type="number" name="Phone" value="@Model.Phone" class="form-control" placeholder="Phone" />
        <input type="email" name="Email" value="@Model.Email" class="form-control" placeholder="Email" />
        <input type="text" name="Address" value="@Model.Address" class="form-control" placeholder="Address" />
        <input type="datetime-local" name="DOB" value="@Model.DOB" class="form-control" placeholder="DOB" />

        <input type="submit" value="Update" />
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
